{% extends 'registration/base.html' %}

{% block title %} {{ program.title }} {% endblock %}

{% block body %}
{% load static %}

<div class="con_linear row">
    <div class="container col-8">
        <h1>{{ program.title }}</h1>
        <h5>{{ program.description }}</h5>
        <form method="post" action="{% url 'sign_on_course' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-md align-items-center" name="program_id" id="btnSignOnCourse" value="{{program.id}}">SignOnCourse</button>
        </form>
    </div>
    <div class="container col-4 card-text text-center border-left">
        <h3>FREE NOW</h3>
        <h3>program.price later</h3>
        <h6>Start point {{ program.start }}</h6>
    </div>
</div>
<div class="container mt-1 ml-0 text-left">
    <h2>What is it about?</h2>
    <i>{% lorem %}</i>
</div>
<div class="container col-12 mt-2 ml-0" style="background-color: antiquewhite">
    <h2>Teachers</h2>
    {% for teacher in program.teachers.all %}
    <div class="container-fluid row">
        <div class="text-center ml-0 col-3">
            <img class="card-img-top mt-1" style="max-width: 50%" src="{% static 'courses/images/Burning.png' %}" alt="picture">
            <h2 class="card-title" style="font-weight: 600">{{ teacher.user.username }}</h2>
            <h3 class="card-subtitle">{{ teacher.user.email }}</h3>
            <h5 class="card-text">Professor of Python3</h5>
        </div>
        <div class="text-left col-8">
            <i class="text-muted">
                {% lorem%}
            </i>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}