<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static '/courses/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/courses/css/style.css' %}">

    <title>
        {% block title %}
        Base!
        {% endblock %}
    </title>
</head>
<body class="container-fluid">

<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e6c9fd;">
    <a class="navbar-brand" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="{% static '/courses/images/logo3.jpg' %}" alt="Logo">
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'programs' %}">Programs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/v1/lessons">Lessons</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Some actions
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/">Action</a>
                <a class="dropdown-item" href="/">Another action</a>
                <a class="dropdown-item" href="/">Something else here</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
    {% if user.is_authenticated %}
        <form class="form-inline">
            <a href="{% url 'logout' %}" class="btn btn-primary" role="button" aria-disabled="true">Logout</a>
        </form>
    {% else %}
        <form class="form-inline ml-auto">
            <a href="{% url 'login' %}" class="btn btn-primary" role="button">Login</a>
        </form>
        <form class="form-inline ml-1">
            <a href="/main/signup/" class="btn btn-primary" role="button" aria-disabled="true">Register</a>
        </form>
    {% endif %}
    </ul>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <span class="text-muted">Top secret! <a href="/api/v1/profiles/">profiles</a></span>
    </div>
</div>

{% block body %}
<h1>Base, Body!</h1>
{% endblock %}

<script type="text/javascript" src="{% static '/courses/js/jquery-3.2.1.slim.min.js' %}"></script>
<script type="text/javascript" src="{% static '/courses/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static '/courses/js/bootstrap.min.js' %}"></script>

</body>
</html>