{% extends 'registration/base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'programs' %}">to programs -></a></p>
    <p><a href="{% url 'lessons' %}">to lessons -></a></p>
    <p><a href="{% url 'exercises' %}">to exercises -></a></p>
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
{% endif %}

{% endblock %}