<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        {% if registered %}
        <h1>Thank you for registering!</h1>
        {% else %}
        <h1>Just fill out the registration form.</h1>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-md float-left" id="btnLogin" value="Register">Sign Up</button>
        </form>
        {% endif %}
    </div>
</div>
</body>
</html>