.container {
  color: #FFFFFF;
  text-align: center;
  &__form {
    display: flex;
    flex-direction: column;
    width: 20em;
    margin: 1em auto;
    justify-content: center;
  }
  &--login {
    width: 15em;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    margin: .3em .3em;
  }
  &__loginItem {
    text-align: center;
    margin: .5em .5em;
  }
  &__error {
    margin: 0 1em;
    text-align: center;
    word-break: break-word;
    color: red;
  }
  &__hide {
    display: none;
  }
  h2 {
    &__error {
      text-align: center;
      color: red;
      font-weight: bold;
    }
  }
}